@tailwind base;
@tailwind components;
@tailwind utilities;

.home-back{
    background-image: url('./assets/Roulette-NEWS.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(5px);
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite linear;
  }

  @keyframes textGradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .animate-text-gradient {
    background-size: 200% 200%;
    animation: textGradientAnimation 2s infinite linear;
  }

  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .animated-gradient {
    background: linear-gradient(270deg, #3b82f6, #9333ea, #ec4899, #facc15);
    background-size: 400% 400%;
    animation: gradientAnimation 4s ease-in-out infinite;
  }